<% if @item_craft.requested_quantity != @item.batch_size %>
  <div class="tables">
    <table class="table table-bordered table-hover table-condensed">
      <caption>My batches</caption>
      <tr>
        <td class="td-text">Craft price for batches</td>
        <td><%= number_with_delimiter(@item_craft.price) %></td>
      </tr>
      <tr>
        <td class="td-text">Quantity (requested quantity)</td>
        <td><%= number_with_delimiter(@item_craft.quantity) %> (<%= number_with_delimiter(@item_craft.requested_quantity) %>)</td>
      </tr>
      <tr>
        <td class="td-text">Batches</td>
        <td><%= number_with_delimiter(@item_craft.batches) %></td>
      </tr>
      <tr>
        <td class="td-text">Workload</td>
        <td><%= number_with_delimiter(@item_craft.workload) %></td>
      </tr>
      <tr>
        <td class="td-text">Craft XP</td>
        <td><%= number_with_delimiter(@item_craft.craft_xp_gained) %></td>
      </tr>
      <tr>
        <td class="td-text">Time needed (auto-craft lvl <%= @crafter.auto_craft_lvl %>)</td>
        <td><%= seconds_to_human(@crafter.seconds_duration_for_workload(@item_craft.workload)) %></td>
      </tr>
    </table>

    <table class="table table-striped table-bordered table-hover table-condensed">
      <caption>My batches ingredients</caption>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
      </tr>
      <% @item_craft.ingredient_list.each do |ingredient| %>
        <tr>
          <td class="td-text"><%= ingredient.name %></td>
          <td><%= number_with_delimiter(ingredient.quantity) %></td>
        </tr>
      <% end %>
    </table>

    <div class="clearfix"></div>
  </div>
<% end %>

<div class="tables">
  <table class="table table-bordered table-hover table-condensed">
    <caption>My complete craft</caption>
    <tr>
      <td class="td-text">Total price (incl. leftovers)</td>
      <td><%= number_with_delimiter(@item_craft.total_price) %></td>
    </tr>
    <tr>
      <td class="td-text">Quantity (requested quantity)</td>
      <td><%= number_with_delimiter(@item_craft.quantity) %> (<%= number_with_delimiter(@item_craft.requested_quantity) %>)</td>
    </tr>
    <tr>
      <td class="td-text">Batches</td>
      <td><%= number_with_delimiter(@item_craft.batches) %></td>
    </tr>
    <tr>
      <td class="td-text">Total workload</td>
      <td><%= number_with_delimiter(@item_craft.total_workload) %></td>
    </tr>
    <tr>
      <td class="td-text">Time needed (auto-craft lvl <%= @crafter.auto_craft_lvl %>)</td>
      <td><%= seconds_to_human(@crafter.seconds_duration_for_workload(@item_craft.total_workload)) %></td>
    </tr>
  </table>

  <table class="table table-striped table-bordered table-hover table-condensed">
    <caption>My complete craft skills</caption>
    <tr>
      <th>Skill</th>
      <th>Workload</th>
      <th>Craft XP</th>
      <th>Req. level</th>
    </tr>
    <% @item_craft.skills.each do |skill| %>
      <tr>
        <td class="td-text"><%= skill.name %></td>
        <td><%= number_with_delimiter(skill.workload) %></td>
        <td><%= number_with_delimiter(skill.craft_xp_gained) %></td>
        <td><%= number_with_delimiter(skill.lvl) %></td>
      </tr>
    <% end %>
  </table>

  <div class="clearfix"></div>
</div>

<table class="table table-striped table-bordered table-hover table-condensed">
  <caption>Shopping list</caption>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Unit price</th>
    <th>Total price</th>
    <th>Price type</th>
  </tr>
  <% @item_craft.shopping_list.each do |shopping_list_item| %>
    <tr class="<% if shopping_list_item.unit_price.zero? %>warning<% end %>">
      <td class="td-text"><%= shopping_list_item.name %></td>
      <td><%= number_with_delimiter(shopping_list_item.quantity) %></td>
      <td><%= number_with_delimiter(shopping_list_item.unit_price) %></td>
      <td><%= number_with_delimiter(shopping_list_item.total_price) %></td>
      <td><%= price_type_to_human(shopping_list_item) %></td>
    </tr>
  <% end %>
</table>

<table class="table table-striped table-bordered table-hover table-condensed">
  <caption>Craft schedule</caption>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Unit price</th>
    <th>Total price</th>
    <th>Workload</th>
    <th>Craft XP</th>
    <th>Required skill</th>
  </tr>
  <% @item_craft.craft_list.each do |craft_list_item| %>
    <tr>
      <td class="td-text"><%= craft_list_item.name %></td>
      <td><%= number_with_delimiter(craft_list_item.quantity) %></td>
      <td><%= number_with_delimiter(craft_list_item.unit_price) %></td>
      <td><%= number_with_delimiter(craft_list_item.total_price) %></td>
      <td><%= number_with_delimiter(craft_list_item.total_workload) %></td>
      <td><%= number_with_delimiter(craft_list_item.total_craft_xp_gained) %></td>
      <td class="td-text"><%= craft_list_item.skill %> <%= craft_list_item.skill_lvl %></td>
    </tr>
  <% end %>
</table>

<% if @item_craft.leftovers.any? %>
  <table class="table table-striped table-bordered table-hover table-condensed">
    <caption>Leftovers</caption>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
    </tr>
    <% @item_craft.leftovers.each do |leftover| %>
      <tr>
        <td class="td-text"><%= leftover.name %></td>
        <td><%= number_with_delimiter(leftover.quantity) %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<table class="table table-striped table-bordered table-hover table-condensed">
  <caption>Craft tree</caption>
  <tr>
    <th>Item</th>
    <th>Requested q.</th>
    <th>Crafted q.</th>
    <th>Leftovers</th>
    <th>Unit price</th>
    <th>Total price</th>
    <th>Price type</th>
  </tr>
  <%= render partial: 'craft_tree_item', :locals => { :item => @item_craft.item_with_raw_craft_tree, :level => 0 } %>
</table>

<% if @item_craft.craft_tree_leftovers.any? %>
  <table class="table table-striped table-bordered table-hover table-condensed">
    <caption>Craft tree leftovers</caption>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Batches</th>
    </tr>
    <% @item_craft.craft_tree_leftovers.each do |leftover| %>
      <tr>
        <td class="td-text"><%= leftover.name %></td>
        <td><%= number_with_delimiter(leftover.quantity) %></td>
        <td><% unless leftover.whole_batches.zero? %><%= number_with_delimiter(leftover.whole_batches) %><% end %></td>
      </tr>
    <% end %>
  </table>
<% end %>
