<div class="craft-calculator">
  <%= form_tag(root_path, method: :get, class: "row g-3 my-3 align-items-end") do %>
    <%= label_tag(:skill, "Skill:", class: "col-md-1 col-form-label") %>
    <div class="col-md-4">
      <%= select_tag(:skill, options_for_select(skill_names, params[:skill]), include_blank: true, id: :skill, onchange: "this.form.submit()", class: "form-select") %>
    </div>

    <%= label_tag(:query, "Search:", class: "col-md-1 col-form-label") %>
    <div class="col-md-4">
      <%= text_field_tag(:query, params[:query], id: :query, class: "form-control") %>
    </div>

    <div class="col-md-2">
      <%= submit_tag "Filter items", class: "btn btn-secondary" %>
    </div>

    <%= label_tag(:item_name, "Item:", class: "col-md-1 col-form-label") %>
    <div class="col-md-4">
      <%= items_select_tag %>
    </div>

    <%= label_tag(:count, "Quantity:", class: "col-md-1 col-form-label") %>
    <div class="col-md-2">
      <%= number_field_tag(:count, params[:count], size: 5, id: :count, class: "form-control") %>
    </div>

    <div class="col-md-4">
      <%= submit_tag "Calculate", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div id="general">
    <%= render partial: "general" if @item %>
  </div>

  <div id="my">
    <%= render partial: "my" if @item_craft %>
  </div>
</div>
