<tr class="<% if item.unit_price.zero? %>warning<% end %>">
  <td class="td-text"><%= "&nbsp;" * 4 * level %><%= item.name %></td>
  <td><%= item.requested_quantity %></td>
  <td><%= item.quantity %></td>
  <td><% unless item.leftover_quantity.zero? %><%= item.leftover_quantity %><% end %></td>
  <td><%= number_with_delimiter(item.unit_price) %></td>
  <td><%= number_with_delimiter(item.total_price) %></td>
  <td><%= price_type_to_human(item) %></td>
</tr>
<% item.ingredients_craft_tree.each do |ingredient| %>
  <%= partial('craft_tree_item', :locals => { :item => ingredient, :level => level + 1 }) %>
<% end %>
