<% if @shopping_list.detect { |item| item.unit_price.zero? } %>
  <p>
    Warning: <span class="zero">Highlighted prices are set to zero.</span> All results here are affected by that.
    <%= link_to("Review or change your prices", "/custom-prices") %>.
  </p>
<% elsif !@custom_prices.empty? && @shopping_list.detect { |item| item.price_type == :market_price } %>
  <p>
    Warning: You have set some prices yourself. All results here are affected by that.
    <%= link_to("Review or change your prices", "/custom-prices") %>.
  </p>
<% end %>

<h1><%= @item.name %></h1>

<table>
  <tr>
    <td class="label">Craft price</td>
    <td><%= number_with_delimiter(@item.craft_price) %></td>
  </tr>
  <% if @item.fixed_price %>
    <tr>
      <td class="label">Fixed price</td>
      <td><%= number_with_delimiter(@item.fixed_price) %></td>
    </tr>
  <% end %>
</table>

<h2>Batch</h2>

<table>
  <tr>
    <td class="label">Craft price</td>
    <td><%= number_with_delimiter(@item.batch_craft_price) %></td>
  </tr>
  <tr>
    <td class="label">Workload</td>
    <td><%= number_with_delimiter(@item.workload) %></td>
  </tr>
  <tr>
    <td class="label">Size</td>
    <td><%= @item.batch_size %></td>
  </tr>
  <tr>
    <td class="label">Required Skill</td>
    <td><%= @item.skill %> <%= @item.skill_lvl %></td>
  </tr>
  <tr>
    <td class="label">Time needed (auto-craft lvl 1)</td>
    <td><%= seconds_to_human(@crafter_ac_1.seconds_duration_for_workload(@item.workload)) %></td>
  </tr>
  <tr>
    <td class="label">Time needed (auto-craft lvl 120)</td>
    <td><%= seconds_to_human(@crafter_ac_120.seconds_duration_for_workload(@item.workload)) %></td>
  </tr>
  <tr>
    <td class="label">Craft XP</td>
    <td><%= number_with_delimiter(@item.craft_xp_gained_per_batch) %></td>
  </tr>
</table>

<h3>Ingredients</h3>

<table>
  <% @item.ingredients.each do |ingredient_name, ingredient_count| %>
    <tr>
      <td class="label"><%= ingredient_name %></td>
      <td><%= ingredient_count %></td>
    </tr>
  <% end %>
</table>
