<p>
  <% if @item_craft.shopping_list.detect { |item| item.unit_price.zero? } %>
    Warning: <span class="zero">Highlighted prices are set to zero.</span> All results here are affected by that.
  <% elsif !@custom_prices.empty? && @item_craft.shopping_list.detect { |item| item.price_type == :market_price } %>
    Warning: You have set some prices yourself. All results here are affected by that.
  <% end %>

  <%= link_to("Review or change your prices for this craft", item_custom_prices_url) %>.
</p>

<h1><%= @item.name %></h1>

<table>
  <tr>
    <td class="label">Craft price</td>
    <td><%= number_with_delimiter(@item.craft_price) %></td>
  </tr>
  <% if @item.fixed_price %>
    <tr>
      <td class="label">Fixed price</td>
      <td><%= number_with_delimiter(@item.fixed_price) %></td>
    </tr>
  <% end %>
</table>

<div class="tables">
  <table>
    <caption>Batch</caption>
    <tr>
      <td class="label">Craft price</td>
      <td><%= number_with_delimiter(@item.batch_craft_price) %></td>
    </tr>
    <tr>
      <td class="label">Size</td>
      <td><%= number_with_delimiter(@item.batch_size) %></td>
    </tr>
    <tr>
      <td class="label">Workload</td>
      <td><%= number_with_delimiter(@item.workload) %></td>
    </tr>
    <tr>
      <td class="label">Craft XP</td>
      <td><%= number_with_delimiter(@item.craft_xp_gained_per_batch) %></td>
    </tr>
    <tr>
      <td class="label">Time needed (auto-craft lvl 1)</td>
      <td><%= seconds_to_human(@crafter_ac_1.seconds_duration_for_workload(@item.workload)) %></td>
    </tr>
    <tr>
      <td class="label">Time needed (auto-craft lvl 120)</td>
      <td><%= seconds_to_human(@crafter_ac_120.seconds_duration_for_workload(@item.workload)) %></td>
    </tr>
    <tr>
      <td class="label">Required skill</td>
      <td><%= @item.skill %> <%= @item.skill_lvl %></td>
    </tr>
  </table>

  <table>
    <caption>Batch ingredients</caption>
    <tr>
      <th class="label">Item</th>
      <th>Quantity</th>
    </tr>
    <% @item.ingredient_list.each do |ingredient| %>
      <tr class="<%= cycle_table_row_colors %>">
        <td class="label"><%= ingredient.name %></td>
        <td><%= number_with_delimiter(ingredient.quantity) %></td>
      </tr>
    <% end %>
  </table>

  <div class="clear"></div>
</div>
