<h2>My craft</h2>

<table>
  <tr>
    <td class="label">Requested quantity</td>
    <td><%= @count %></td>
  </tr>
  <tr>
    <td class="label">Crafted quantity</td>
    <td><%= @item.crafted_count(@count) %></td>
  </tr>
  <tr>
    <td class="label">Total price</td>
    <td><%= number_with_delimiter(@shopping_list.total_price) %></td>
  </tr>
  <tr>
    <td class="label">Total workload</td>
    <td><%= number_with_delimiter(@craft_list.total_workload) %></td>
  </tr>
  <tr>
    <td class="label">Time needed (auto-craft lvl 1)</td>
    <td><%= seconds_to_human(@crafter_ac_1.seconds_duration_for_workload(@craft_list.total_workload)) %></td>
  </tr>
  <tr>
    <td class="label">Time needed (auto-craft lvl 120)</td>
    <td><%= seconds_to_human(@crafter_ac_120.seconds_duration_for_workload(@craft_list.total_workload)) %></td>
  </tr>
</table>

<h3>Craft XP</h3>

<table>
  <tr>
    <th class="label">Skill</th>
    <th>Craft XP</th>
  </tr>
  <% @craft_list.total_craft_xp_gained_per_skill.each do |skill, xp| %>
    <tr>
      <td class="label"><%= skill %></td>
      <td><%= number_with_delimiter(xp) %></td>
    </tr>
  <% end %>
</table>

<h3>Shopping list</h3>

<table>
  <tr>
    <th class="label">Item</th>
    <th>Quantity</th>
    <th>Unit price</th>
    <th>Total price</th>
    <th>Price type</th>
  </tr>
  <% @shopping_list.each do |shopping_list_item| %>
    <tr<% if shopping_list_item.unit_price.zero? %> class="zero"<% end %>>
      <td class="label"><%= shopping_list_item.name %></td>
      <td><%= shopping_list_item.count %></td>
      <td><%= number_with_delimiter(shopping_list_item.unit_price) %></td>
      <td><%= number_with_delimiter(shopping_list_item.total_price) %></td>
      <td><%= price_type_to_human(shopping_list_item) %></td>
    </tr>
  <% end %>
</table>

<h3>Craft schedule</h3>

<table>
  <tr>
    <th class="label">Item</th>
    <th>Quantity</th>
    <th>Unit price</th>
    <th>Total price</th>
    <th>Workload</th>
    <th>Craft XP</th>
    <th class="label">Required skill</th>
  </tr>
  <% @craft_list.each do |craft_list_item| %>
    <tr>
      <td class="label"><%= craft_list_item.name %></td>
      <td><%= craft_list_item.count %></td>
      <td><%= number_with_delimiter(craft_list_item.unit_price) %></td>
      <td><%= number_with_delimiter(craft_list_item.total_price) %></td>
      <td><%= number_with_delimiter(craft_list_item.total_workload) %></td>
      <td><%= number_with_delimiter(craft_list_item.total_craft_xp_gained) %></td>
      <td class="label"><%= craft_list_item.skill %> <%= craft_list_item.skill_lvl %></td>
    </tr>
  <% end %>
</table>

<% if @leftovers.any? %>
  <h3>Leftovers</h3>

  <table>
    <tr>
      <th class="label">Item</th>
      <th>Quantity</th>
    </tr>
    <% @leftovers.each do |leftover| %>
      <tr>
        <td class="label"><%= leftover.name %></td>
        <td><%= leftover.count %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<h3>Craft tree</h3>

<table>
  <tr>
    <th class="label">Item</th>
    <th>Requested q.</th>
    <th>Crafted q.</th>
    <th>Leftovers</th>
    <th>Unit price</th>
    <th>Total price</th>
    <th>Price type</th>
  </tr>
  <%= partial('craft_tree_item', :locals => { :item => @item_with_raw_craft_tree, :level => 0 }) %>
</table>

<% if @craft_tree_leftovers.any? %>
  <h3>Craft tree leftovers</h3>

  <table>
    <tr>
      <th class="label">Item</th>
      <th>Quantity</th>
      <th>Batches</th>
    </tr>
    <% @craft_tree_leftovers.each do |leftover| %>
      <tr>
        <td class="label"><%= leftover.name %></td>
        <td><%= leftover.count %></td>
        <td><% unless leftover.complete_batches_count.zero? %><%= leftover.complete_batches_count %><% end %></td>
      </tr>
    <% end %>
  </table>
<% end %>
