<h2>My craft</h2>

<table>
  <tr>
    <td>Requested count</td>
    <td><%= @count %></td>
  </tr>
  <tr>
    <td>Crafted count</td>
    <td><%= @item.crafted_count(@count) %></td>
  </tr>
</table>

<table>
  <tr>
    <td>Total price</td>
    <td><%= number_with_delimiter(@shopping_list.total_price) %></td>
  </tr>
  <tr>
    <td>Total Workload</td>
    <td><%= number_with_delimiter(@craft_list.total_workload) %></td>
  </tr>
  <tr>
    <td>Time needed (auto-craft lvl 1)</td>
    <td><%= seconds_to_human(@crafter_ac_1.seconds_duration_for_workload(@craft_list.total_workload)) %></td>
  </tr>
  <tr>
    <td>Time needed (auto-craft lvl 120)</td>
    <td><%= seconds_to_human(@crafter_ac_120.seconds_duration_for_workload(@craft_list.total_workload)) %></td>
  </tr>
</table>

<h3>Craft XP</h3>

<table>
  <% @craft_list.total_craft_xp_gained_per_skill.each do |skill, xp| %>
    <tr>
      <td><%= skill %></td>
      <td><%= number_with_delimiter(xp) %></td>
    </tr>
  <% end %>
</table>

<h3>Shopping list</h3>

<table>
  <% @shopping_list.each do |shopping_list_item| %>
    <tr>
      <td><%= shopping_list_item.name %></td>
      <td><%= shopping_list_item.count %></td>
      <td><%= number_with_delimiter(shopping_list_item.unit_price) %></td>
      <td><%= number_with_delimiter(shopping_list_item.total_price) %></td>
    </tr>
  <% end %>
</table>

<h3>Craft schedule</h3>

<table>
  <% @craft_list.each do |craft_list_item| %>
    <tr>
      <td><%= craft_list_item.name %></td>
      <td><%= craft_list_item.count %></td>
    </tr>
  <% end %>
</table>

<% if @leftovers.any? %>
  <h3>Leftovers</h3>

  <table>
    <% @leftovers.each do |leftover| %>
      <tr>
        <td><%= leftover.name %></td>
        <td><%= leftover.count %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<h3>Craft tree</h3>

<table>
  <%= partial('craft_tree_item', :locals => { :item => @item_with_raw_craft_tree, :level => 0 }) %>
</table>

<% if @craft_tree_leftovers.any? %>
  <h3>Craft tree leftovers</h3>

  <table>
    <% @craft_tree_leftovers.each do |leftover| %>
      <tr>
        <td><%= leftover.name %></td>
        <td><%= leftover.count %></td>
      </tr>
    <% end %>
  </table>
<% end %>
