<h1>About Atlantica Online Craft Calculator</h1>

<h2>Why?</h2>

<p>
  I got tired of waiting for updated version of <%= link_to("Atlantica Online Craft Calculator from Muwing", "http://aop.muwing.com/game-tools/craft-calculator") %>
  and using spreadsheets in <%= link_to("LibreOffice", "http://www.libreoffice.org/") %> so I started this project on my own.
</p>

<h2>How?</h2>

<p>
  I created simple library in my favorite <b>programming language <%= link_to("Ruby", "http://www.ruby-lang.org/") %></b>.<br />
  Source code is available at: <%= link_to_url("https://github.com/jana4u/atlantica_online_toolkit") %>.
</p>

<p>
  Then I added web front end in <b>ruby web framework <%= link_to("Padrino", "http://www.padrinorb.com/") %></b>.<br />
  Source code is available at: <%= link_to_url("https://github.com/jana4u/atlantica_online_craft_calculator_web") %>.
</p>

<p>
  Everything is <b>open source</b> and <b>released under the MIT license</b>.
</p>

<h2>Author</h2>

<p>
  My name is <b>Jana Dvořáková</b> (Jana4U) and I work mostly as <%= link_to("Ruby on Rails", "http://rubyonrails.org/") %> developer.
  Playing <%= link_to("Atlantica Online", "http://atlantica.nexon.net/") %> is my hobby.
</p>

<p>
  If you like this project, you can do some in-game donations to my character <b>Racek</b> on <b>Delphi</b> server. ;-)
</p>

<h2>Contributors</h2>

<p><%= link_to("Get involved", "/get-involved") %> and your name can be here. No programming knowledge required!</p>
