<h1>Your prices</h1>

<p>You can set your own prices here but be careful! It will affect all calculations.</p>

<p>
  If your price is lower than craft price, item will no longer be crafted and will be added to shopping list.
  You can set your price even to 0.
</p>

<p>Leave field blank if you want to remove any of your current prices.</p>

<% unless @custom_prices.empty? %>
  <h2>Your current prices</h2>

  <% form_tag(item_custom_prices_url, :method => :delete) do %>
    <%= submit_tag "Remove All", class: 'btn btn-danger' %>
  <% end %>

  <% form_tag(item_custom_prices_url) do %>
    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr>
        <th>Item</th>
        <th>Your Price</th>
      </tr>
      <% @custom_prices.each do |item_name, price| %>
        <tr class="<% if price.zero? %>warning<% end %>">
          <td class="td-text"><%= item_name %></td>
          <td><%= text_field_tag("custom_prices[#{CGI::escape(item_name)}]", :value => number_with_delimiter(price)) %></td>
        </tr>
      <% end %>
    </table>

    <%= submit_tag "Update", class: 'btn btn-primary' %>
  <% end %>
<% end %>

<h2>Set or change your prices</h2>

<p>
  <% form_tag(item_custom_prices_url, :method => :get) do %>
    <%= label_tag(:item_name, :caption => "Crafted item:") %>
    <%= items_select_tag %>

    <noscript>
    <%= submit_tag "Filter", class: 'btn' %>
    </noscript>
  <% end %>

  <% unless params[:item_name].blank? %>
    <% form_tag(url(:index, :item_name => params[:item_name]), :method => :get) do %>
      <%= submit_tag "Use in calculator", class: 'btn' %>
    <% end %>
  <% end %>
</p>

<% form_tag(item_custom_prices_url) do %>

  <% @custom_prices.each do |item_name, price| %>
    <%= hidden_field_tag("custom_prices[#{CGI::escape(item_name)}]", :value => price) %>
  <% end %>

  <table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
      <th>Item</th>
      <th>Fixed Price</th>
      <th>Market Price</th>
      <th>Your Price</th>
    </tr>
    <% @items.each do |item| %>
      <tr class="<% if zero_price?(item, @custom_prices[item.name]) %>warning<% end %>">
        <td class="td-text"><%= item.name %></td>
        <td><%= number_with_delimiter(item.fixed_price) %></td>
        <td><%= number_with_delimiter(item.market_price) %></td>
        <td><%= text_field_tag("custom_prices[#{CGI::escape(item.name)}]", :value => number_with_delimiter(@custom_prices[item.name])) %></td>
      </tr>
    <% end %>
  </table>

  <%= submit_tag "Save", class: 'btn btn-primary' %>
<% end %>
