<h1>How to get involved</h1>

<p>
  You can help by adding missing items. No programming knowledge required!
</p>

<p>
  If you want to be on the list of contributors, let me know your name, character and server name.
</p>


<h2>You are ordinary internet user</h2>

<ol>
  <li>
    download file <%= link_to_url("https://raw.github.com/jana4u/atlantica_online_toolkit/master/craft_calculator/lib/data.yml") %>
  </li>
  <li>
    add more items just by copying and then modifying existing items
  </li>
  <li>
    <%= mail_to("jana4u@seznam.cz", "mail me") %> your modified file
  </li>
</ol>


<h2>
  You are familiar with version control system <%= link_to("Git", "http://git-scm.com/") %>
  and already using <%= link_to("GitHub", "https://github.com/") %>
  or willing to sign up for free account
</h2>

<ol>
  <li>
    fork my repository <%= link_to_url("https://github.com/jana4u/atlantica_online_toolkit") %>
  </li>
  <li>
    add more items to file
    <%= link_to("craft_calculator/lib/data.yml", "https://github.com/jana4u/atlantica_online_toolkit/blob/master/craft_calculator/lib/data.yml") %>
  </li>
  <li>
    send me pull request
  </li>
</ol>
