<% form_tag("/", method: :get, remote: true, class: 'form-inline') do %>
  <%= label_tag(:skill, :caption => "Skill:") %>
  <%= select_tag(:skill, :options => skill_names, :selected => params[:skill], :include_blank => "", :id => :skill) %>

  <%= label_tag(:query, :caption => "Search:") %>
  <%= text_field_tag(:query, :value => params[:query], :id => :query) %>

  <%= submit_tag "Filter items", class: 'btn' %>
<% end %>

<% form_tag("/", method: :get, remote: true, class: 'form-inline') do %>
  <%= label_tag(:item_name, :caption => "Item:") %>
  <%= items_select_tag %>

  <%= label_tag(:count, :caption => "Quantity:") %>
  <%= text_field_tag(:count, :value => params[:count], :size => 5, :id => :count, :class => "input-small") %>

  <%= submit_tag "Calculate", class: 'btn btn-primary' %>

  <%= img '/images/ajax-loader.gif', id: 'ajax-loader', alt: '' %>
  <span id="error"></span>
<% end %>

<div id="general">
  <%= partial('general') if @item %>
</div>

<div id="my">
  <%= partial('my') if @item_craft %>
</div>
