<% content_for :assets do %>
  <%= javascript_include_tag 'jquery', 'jquery-ujs', 'application' %>
<% end %>

<% form_tag("/", :remote => true) do %>
  <%= label_tag(:item_name, :caption => "Item:") %>
  <%= select_tag(:item_name, :options => @items.map{ |i| i.name }, :selected => params[:item_name], :id => :item_name) %>
  <%= label_tag(:count, :caption => "Count:") %>
  <%= text_field_tag(:count, :value => params[:count], :size => 5, :id => :count) %>
  <%= submit_tag "Calculate" %>
  <%= image_tag "ajax-loader.gif", :id => "ajax-loader" %>
  <span id="error"></span>
<% end %>

<div id="general">
  <%= partial('general') if @item %>
</div>

<div id="my">
  <%= partial('my') if @count %>
</div>
