<!DOCTYPE html>
<html>
  <head>
    <title>Atlantica Online Craft Calculator</title>
    <%= javascript_include_tag 'jquery', 'jquery-ujs' %>
  </head>

  <body>
    <% form_tag(nil, :remote => true) do %>
      <%= select_tag(:item_name, :options => @items.map{ |i| i.name }, :selected => params[:item_name]) %>
      <%= text_field_tag(:count, :value => params[:count]) %>
      <%= submit_tag %>
    <% end %>

    <div id="general">
      <%= partial('general') if @item %>
    </div>

    <div id="my">
      <%= partial('my') if @count %>
    </div>
  </body>
</html>
