<% form_tag("/", :method => :get, :remote => true) do %>
  <%= label_tag(:skill, :caption => "Skill:") %>
  <%= select_tag(:skill, :options => skill_names, :selected => params[:skill], :include_blank => "", :id => :skill) %>

  <noscript>
  <%= submit_tag "Filter" %>
  </noscript>
<% end %>

<% form_tag("/", :remote => true) do %>
  <%= hidden_field_tag(:skill, :value => params[:skill]) %>

  <%= label_tag(:item_name, :caption => "Item:") %>
  <%= items_select_tag %>

  <%= label_tag(:count, :caption => "Quantity:") %>
  <%= text_field_tag(:count, :value => params[:count], :size => 5, :id => :count) %>

  <%= submit_tag "Calculate" %>

  <%= img '/images/ajax-loader.gif', id: 'ajax-loader', alt: '' %>
  <span id="error"></span>
<% end %>

<div id="general">
  <%= partial('general') if @item %>
</div>

<div id="my">
  <%= partial('my') if @item_craft %>
</div>
