<!DOCTYPE html>
<html>
  <head>
    <title>Atlantica Online Craft Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= favicon_link_tag "/favicon.ico" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to("Atlantica Online Craft Calculator", main_app.atlantica_online_craft_calculator_engine_path, class: 'brand') %></li>
              <li><%= link_to("Your prices", atlantica_online_craft_calculator_engine.custom_prices_path) %></li>
              <li><%= link_to("Your skills", atlantica_online_craft_calculator_engine.custom_skills_path) %></li>
              <li><%= link_to("Experience table", atlantica_online_craft_calculator_engine.experience_table_path) %></li>
            </ul>
            <ul class="nav pull-right">
              <li><%= link_to("About", atlantica_online_craft_calculator_engine.about_path) %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <%= yield %>
      </div>
    </div>

    <footer>
      <div class="container">
        &copy; <%= link_to("Jana Dvořáková (Jana4U)", "http://www.jana4u.net/") %><br />
        Design greatly inspired by <%= link_to("Atlantica-db", "http://www.atlantica-db.com/") %><br />
        &copy; <%= Date.today.year %> NEXON Korea Corp. and NEXON America Inc. &amp; NDOORS Corp. All Rights Reserved.<br />
        All game information presented here is from the MMORPG <%= link_to("Atlantica Online", "http://at.valofe.com/") %>.
      </div>
    </footer>
  </body>
</html>
