<!DOCTYPE html>
<html>
  <head>
    <title>Atlantica Online Craft Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= favicon_tag("/favicon.ico") %>
    <%= css(:app, type: 'text/css').html_safe %>
    <%= js(:app, type: 'text/javascript').html_safe %>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to("Atlantica Online Craft Calculator", "/", class: 'brand') %></li>
              <li><%= link_to("Your prices", "/custom-prices") %></li>
              <li><%= link_to("Your skills", "/custom-skills") %></li>
              <li><%= link_to("Experience table", "/experience-table") %></li>
            </ul>
            <ul class="nav pull-right">
              <li><%= link_to("About", "/about") %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <%= yield %>
      </div>
    </div>

    <footer>
      <div class="container">
        &copy; <%= link_to("Jana Dvořáková (Jana4U)", "http://www.jana4u.net/") %><br />
        Design greatly inspired by <%= link_to("Atlantica-db", "http://www.atlantica-db.com/") %><br />
        &copy; <%= Date.today.year %> NEXON Korea Corp. and NEXON America Inc. &amp; NDOORS Corp. All Rights Reserved.<br />
        All game information presented here is from the MMORPG <%= link_to("Atlantica Online", "http://atlantica.nexon.net/") %>.
      </div>
    </footer>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36905611-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
